---
import ImageHeroBg from '~/assets/images/hero-bg.png';
import ImageHeroCahyadi from '~/assets/images/hero-cahyadi.png';
import BaseButton from '~/modules/base/components/base-button.astro';
---

<section class="container mx-auto">
  <div class="flex gap-[30px]">
    <div class="relative overflow-hidden w-full bg-gray-main rounded-[30px]">
      <img
        alt=""
        src={ImageHeroBg.src}
        class="absolute w-full h-full object-cover"
      />

      <div class="relative p-[40px] flex flex-col justify-between h-full">
        <div>
          <h2 class="text-[30px] font-semibold">Hello Everyone 👋</h2>

          <h1 class="text-[44px] font-bold mt-[12px] leading-tight">
            I'm <span
              class="bg-gradient-to-r from-secondary to-primary inline-block text-transparent bg-clip-text"
            >
              Cahyadi Krishna,
            </span>
            <br />a Full-Stack Developer
          </h1>

          <p class="text-[18px] w-[590px] mt-[20px] text-dark-secondary">
            Have been in tech industries for 3 Years and having passion to build
            usefull project for future industries.
          </p>
        </div>

        <div class="flex gap-[20px] items-center">
          <BaseButton
            href="mailto:cahyadikrishna.ck@gmail.com"
            target="_blank"
            variant="gradient"
          >
            <span class="text-[18px]">
              <i class="ri-mail-fill"></i>
            </span>
            Email Me
          </BaseButton>

          <div class="flex gap-[12px] text-[34px]">
            <a
              href="https://www.linkedin.com/in/cahyadikrishna"
              target="_blank"
              class="transition-colors duration-300 ease-in-out hover:text-primary"
            >
              <i class="ri-linkedin-box-fill"></i>
            </a>

            <a
              href="https://instagram.com/cahyadikrishnaw"
              target="_blank"
              class="transition-colors duration-300 ease-in-out hover:text-pink-600"
            >
              <i class="ri-instagram-fill"></i>
            </a>

            <a
              href="https://wa.me/+6289606620616"
              target="_blank"
              class="transition-colors duration-300 ease-in-out hover:text-green-600"
            >
              <i class="ri-whatsapp-fill"></i>
            </a>

            <a
              href="https://github.com/cahyadikrishna"
              target="_blank"
              class="transition-colors duration-300 ease-in-out hover:text-gray-400"
            >
              <i class="ri-github-fill"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="rounded-[30px]">
      <img
        alt="Cahyadi Photo"
        src={ImageHeroCahyadi.src}
        class="object-cover rounded-[30px] w-[600px]"
      />
    </div>
  </div>
</section>
