---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { TECH_STACK_DATA } from '~/modules/home/entities/home.entity';

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/icons/*.{jpeg,jpg,png,gif}'
);
---

<section class="container mx-auto text-center mt-[80px]">
  <h1 class="font-bold text-[40px]">Tech Stack Advanced</h1>

  <div class="flex gap-[46px] justify-center items-center mt-[40px] w-full">
    {
      TECH_STACK_DATA.map((techStack, i) => (
        <Image
          src={images[techStack.path]()}
          id={String(i)}
          alt={techStack.name}
          width={50}
        />
      ))
    }
  </div>
</section>
