---
import BaseButton from '~/modules/base/components/base-button.astro';
---

<section class="container mx-auto mt-[20px] px-[20px] lg:mt-[30px]">
  <div
    class="bg-gray-main rounded-[30px] py-[30px] px-[20px] flex flex-col gap-[20px] justify-center items-center md:px-[40px] lg:flex-row lg:gap-[30px] lg:px-[80px] lg:py-[40px]"
  >
    <div>
      <h1
        class="text-[38px] font-bold w-full md:text-[44px] lg:w-[480px] leading-tight lg:text-[66px]"
      >
        <span
          class="bg-gradient-to-r from-secondary to-primary inline-block text-transparent bg-clip-text"
        >
          Be The Light,
        </span>
        Lighten Everything
      </h1>
    </div>

    <div class="flex flex-col gap-[20px]">
      <div
        class="flex flex-col gap-[12px] text-[12px] text-dark-secondary leading-6 lg:leading-8 lg:text-[18px]"
      >
        <p>
          Web developer with expertise in Full-Stack Development. Advanced in
          using JavaScript/TypeScript programming language and frameworks such
          as Vue, React, Express.
        </p>
        <p>
          Having solid experience in working with teams and well-versed in
          utilizing Git for version control. Ready to deliver high-quality and
          innovative solutions for the future industry.
        </p>
      </div>

      <div>
        <BaseButton variant="gradient" class="w-full lg:w-fit">
          <span class="text-[18px]">
            <i class="ri-download-2-fill"></i>
          </span>
          Download CV
        </BaseButton>
      </div>
    </div>
  </div>
</section>
