---
import { sanityClient } from '~/api/sanity-api';
import { sanityImageUrl } from '~/helpers/sanity-image-url';

// TODO: Make the typing
const projects = await sanityClient.fetch('*[_type == "project"]');
---

<section class="container mx-auto px-[20px] mt-[60px] lg:mt-[80px]">
  <h1 class="font-bold text-[30px] lg:text-[40px]">Latest Project</h1>

  <div
    class="grid grid-cols-1 gap-[20px] mt-[20px] md:grid-cols-2 lg:grid-cols-3 lg:gap-[30px] lg:mt-[30px]"
  >
    {
      projects.map((project) => (
        <div class="bg-gray-main relative rounded-[30px] h-[300px] w-full lg:h-[400px]">
          <img
            alt=""
            src={sanityImageUrl(project.picture).url()}
            class="absolute w-full h-full object-cover rounded-[30px]"
          />

          <div class="relative p-[20px] lg:p-[28px]">
            <h2 class="font-semibold text-white text-[20px] lg:text-[24px]">
              {project.name}
            </h2>
            <p class="text-[10px] text-white lg:text-[12px] leading-normal">
              {project.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>

  <div class="text-center mt-[30px] lg:text-right">
    <a
      href="/project"
      class="inline-flex items-center justify-center gap-[8px] font-semibold"
    >
      <span
        class="bg-gradient-to-r from-secondary to-primary inline-block text-transparent bg-clip-text"
      >
        See Other Projects
      </span>

      <span class="text-[18px] text-primary">
        <i class="ri-arrow-right-line"></i>
      </span>
    </a>
  </div>
</section>
