---
import ImageHeroBg from '~/assets/images/project-funcode.png';
---

<section class="container mx-auto mt-[80px]">
  <h1 class="font-bold text-[40px]">Latest Project</h1>

  <div class="flex gap-[30px] mt-[30px]">
    <div class="bg-gray-main relative rounded-[30px] h-[480px] w-1/2">
      <img
        alt=""
        src={ImageHeroBg.src}
        class="absolute w-full h-full object-cover rounded-[30px]"
      />

      <div class="relative p-[40px]">
        <h2 class="font-semibold text-white text-[26px]">Fundamental Codes</h2>
        <p class="text-white">
          Edu-tech Website to sell a Mini Class for Users
        </p>
      </div>
    </div>

    <div class="bg-gray-main relative rounded-[30px] h-[480px] w-1/2">
      <img
        alt=""
        src={ImageHeroBg.src}
        class="absolute w-full h-full object-cover rounded-[30px]"
      />

      <div class="relative p-[40px]">
        <h2 class="font-semibold text-white text-[26px]">Fundamental Codes</h2>
        <p class="text-white">
          Edu-tech Website to sell a Mini Class for Users
        </p>
      </div>
    </div>
  </div>

  <div class="text-right mt-[30px]">
    <a
      href="/project"
      class="inline-flex items-center justify-center gap-[8px] font-semibold"
    >
      <span
        class="bg-gradient-to-r from-secondary to-primary inline-block text-transparent bg-clip-text"
      >
        See Other Projects
      </span>

      <span class="text-[18px] text-primary">
        <i class="ri-arrow-right-line"></i>
      </span>
    </a>
  </div>
</section>
