---
import ImageHeroCahyadi from '~/assets/images/hero-cahyadi.png';
---

<section class="container mx-auto">
  <div class="flex gap-[30px]">
    <div class="w-full bg-gray-main rounded-[30px] p-[30px]">
      <h2 class="text-[30px] font-semibold">Hello Everyone 👋</h2>

      <h1 class="text-[44px] font-bold mt-[12px] leading-tight">
        I'm <span class="text-secondary">Cahyadi Krishna</span>,
        <br />a Full-Stack Developer
      </h1>

      <p class="text-[18px] w-[590px] mt-[20px]">
        Have been in tech industries for 3 Years and having passion to build
        usefull project for future industries.
      </p>
    </div>

    <div class="w-[550px] bg-primary rounded-[30px]">
      <img
        src={ImageHeroCahyadi.src}
        alt="Cahyadi Photo"
        class="object-cover rounded-[30px]"
      />
    </div>
  </div>
</section>
